
h1 {
    font-family: Impact, sans-serif;
    color:yellow;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color:brown;
}